{sub_dirs, ["apps/*", "rel"]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info, {i, ".."}]}.

{deps, [
    {ecomponent, ".*", {git, "git://github.com/pepeyuilop/ecomponent.git", "0.12.1"}}
]}.
{cover_enabled, true}.
{cover_print_enable, true}.
 
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
