[
    {esyslog, [
        %% listening port (upd)
        {port, 514},

        %% facilities
        {facilities, [
            {0, kern},
            {1, user},
            {2, mail},
            {3, daemon},
            {4, auth},
            {5, syslog},
            {6, lpr},
            {7, news},
            {8, uucp},
            {9, cron},
            {10, auth},
            {11, ftp},
            {12, ntp},
            {13, syslog},
            {14, syslog},
            {15, cron},
            {16, local0},
            {17, local1},
            {18, local2},
            {19, local3},
            {20, local4},
            {21, local5},
            {22, local6},
            {23, local7}
        ]},

        %% severities
        {severities, [
            {0, emerg},
            {1, alert},
            {2, crit},
            {3, err},
            {4, warn},
            {5, notice},
            {6, info},
            {7, debug}
        ]},

        %% handlers to send logs
        {handlers, [
            esyslog_event_disk,
            esyslog_event_xmpp
        ]},

        %% event disk:
        {disk, [
            {path_log, "/var/log"}
        ]},

        %% event xmpp:
        {xmpp, [
            {subscriptions, [
                <<"admin@localhost">>
            ]}
        ]}
    ]},

    {ecomponent, [
        {jid, "syslog.localhost"},
        {servers, [
            {localhost, [
                {server, "localhost"},
                {port, 5225},
                {pass, "secret"}
            ]}
        ]},
        {resend, false},
        {throttle, false},
        {processors, [
            {default, {mod, esyslog_event_xmpp}}
        ]},
        {message_processor, {mod, esyslog_event_xmpp}},
        {presence_processor, {mod, esyslog_event_xmpp}},
        {disco_info, true},
        {info, [
            {type, <<"urn:xmpp:syslog">>},
            {name, <<"esyslog">>}
        ]},
        {features, [
            <<"urn:xmpp:syslog">>
        ]}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [
                {"log/error.log", error, 104857600, "$D0", 5},
                {"log/info.log", info, 104857600, "$D0", 5}
            ]}
        ]},
        {crash_log, "log/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        {error_logger_redirect, true}
    ]},

    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]}
].
